wcfCine/PruebaWcf/Service References/wcfCine/Service31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="Cartelera">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CiudadID" type="xs:int" />
      <xs:element minOccurs="0" name="Complejo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ComplejoID" type="xs:int" />
      <xs:element minOccurs="0" name="Latitud" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitud" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Peliculas" nillable="true" type="tns:ArrayOfPelicula" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cartelera" nillable="true" type="tns:Cartelera" />
  <xs:complexType name="ArrayOfPelicula">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pelicula" nillable="true" type="tns:Pelicula" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPelicula" nillable="true" type="tns:ArrayOfPelicula" />
  <xs:complexType name="Pelicula">
    <xs:sequence>
      <xs:element minOccurs="0" name="Actor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Calificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Clasificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Director" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Duracion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Horarios" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PeliculaID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Poster" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Trailer" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pelicula" nillable="true" type="tns:Pelicula" />
</xs:schema>